# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/

*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
_build
build/
dist/


*.pkl
*.hd5
*.csv
*.rdb
*.out
*.dot

.env
.vim
.nvimrc
.vscode
.idea

qlib/data/_libs/expanding.cpp
qlib/data/_libs/rolling.cpp
examples/estimator/estimator_example/

*.egg-info/


# special software
mlruns/

tags

.pytest_cache/
.vscode/
.idea/

*.swp

./pretrain

